@media screen and (max-width: 430px) {

    body  {
        height: 5000px;
    }

    .nav_hamburger {
        display: flex;
    }

    .header_container {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* NAV LIST */
    .nav_list {
        display: none;
    }

    .logo {
        display: none;
    }

    .header_content {
        padding-left: 5%;
    }

    .logo_mobile_container {
        display: block;
    }

    .logo_mobile {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .logo_subtitle_mobile {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: -1px;
        color: #888;
    }

    .btn_resume_mobile {
        position: absolute;
        top: -4px;
        right: 50px;
        border-radius: 5000px;
        background: linear-gradient(80deg, darkblue, darkmagenta);
        color: white;
        font-size: 14px;
        padding: 8px 20px;
    }
    

    /* MAIN SECTION */
    #section_main {
        flex-direction: column; 
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 0;
    }

    .header_container h1 {
        font-size: 28px;
    }

    .img_headshot {
        width:35%;
        margin-top: 20px;
        margin-left: 0px;
        display: block;
        text-align: center;
    }

    .section_main_title {
        font-size: 2.2rem;
    }

    .section_main_text {
        font-size: 1.1rem;
        font-weight: 600;
    }

    /* ABOUT ME SECTION */
    #section_about_me {
        padding-top:8vh;
        padding-bottom: 0vh;
        margin-left: 5%;
        width: 90%;
    }

    .about_me_container {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }

    .section_about_me_title {
        color: darkblue;
        font-size: 26px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .section_about_me_text {
        line-height: 30px;
        margin-bottom: 15px;
    }

    /* EXPERIENCE SECTION */
    #section_experience {
        display: flex;
        flex-direction: column;
        padding-top: 8vh;
        padding-bottom: 0vh;
        margin-left: 5%;
        width: 90%;
    }

    .experience_container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        max-width: 100%;
    }

    .section_experience_title {
        color: darkblue;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .section_experience_text {
        line-height: 32px;
    }

    .section_experience_button {
        display: none;
    }
    
    .experience_details_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 1vh;
        width: 100%;
        margin-left: 0px;
    }

    .experience_skills_container {
        margin-top: 10px;
    }

    .experience_details_education,
    .experience_details_skills {
        max-width: 100%;
        padding: 15px;
    }

    .experience_skills {
        line-height: 10px;
    }

    .experience_education_masters p {
        line-height: 25px;
    }

    .experience_education_bachelors {
        line-height: 25px;
    }

    /* PROJECT SECTION */

    #section_projects {
        padding: 0px;
        padding-top: 8vh;
        margin-bottom: 0px;
        margin-left: 5%;
        width: 90%;
    }

    .projects_container {
        padding: 0px;
        width: 90%;
    }

    .section_projects_title {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .section_projects_text {
        line-height: 32px;
    }

    .projects_project_container {
        width: 100%;
        align-items: center;
    }

    .project_item_text {
        line-height: 24px;
    }

    .projects_details_container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        margin-top: 1vh;
        margin-bottom: 4px;
        margin-left: 0px;
        width: 100%;

    }

    .projects_details_container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        margin-top: 1vh;
        margin-bottom: 0;
        margin-left: 0px;
        width: 100%;

    }

    .tech_stack_list {
        width: 80%;
        flex-flow: wrap;

    }

    /* CONTACT SECTION */

    #contact {
        padding-top: 8vh;
        padding-left: 0;
        margin-left: 5%;
        width: 90%;
    }

    .contact_container {
        padding: 0px;
        width: 100%;
    }

    .section_contact_title {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    
    .section_contact_text {
        line-height: 32px;
    }

    .contact_socials {
        margin: 0px;
        justify-content: center;
        width: 100%;
    }

    /* FOOTER SECTION */

    #footer {
        margin-left: 5%;
    }
    
    .section_footer {
        margin-left: 0;
        margin-top: -5px;
        padding-bottom: 10px;
    }
}